---
export interface Props {
  base: string;
}

const { base } = Astro.props;
import { Icon } from "astro-icon/components";
---

<div>
  <div class="p-4 mx-4 sm:mx-[25%]">
    <h1 class="text-3xl lg:text-5xl font-bold mb-10 sm:mb-16 text-center">
      Join Us
    </h1>
    <h2 class="text-2xl lg:text-4xl font-bold mb-4">Become A Mentor</h2>
    <p class="prose dark:prose-invert lg:text-2xl mb-8 mx-4">
      If you're an Azerbaijani studying (or have completed your studies)
      anywhere abroad and are passionate about helping the next generation, we
      invite you to reach out. All you need is a desire to give back and the
      willingness to be involved in our community--whether that's creating
      webinars, attending monthly meetings, or sharing your knowledge. We're
      always open to new people and ideas!
    </p>
    <h2 class="text-2xl lg:text-4xl font-bold mb-4">Become A Mentee</h2>
    <p class="prose dark:prose-invert lg:text-2xl mx-4">
      Apply just by sending a message!
    </p>
  </div>
  <div class="my-4 flex flex-col sm:flex-row gap-4 justify-center">
    <div
      class="mx-4 sm:mx-0 ring-2 ring-blue-500/50 rounded-2xl p-4 text-center"
    >
      <h1 class="text-2xl font-bold">Who We Are</h1>
      <h2 class="text-xl">Our mission and vision</h2>
      <a href={base + "/about"}>
        <button
          type="button"
          class="w-full text-white text-2xl bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-black rounded-2xl p-5 text-center mt-5 mb-2"
        >
          <Icon name="ic:round-people-alt" class="w-8 h-8 inline mb-0.5" />
          Learn More
        </button>
      </a>
    </div>
    <div
      class="mx-4 sm:mx-0 ring-2 ring-red-500/50 rounded-2xl p-4 text-center"
    >
      <h1 class="text-2xl font-bold">Send A Message</h1>
      <h2 class="text-xl">We'll get it immediately</h2>
      <a href={base + "/contact"}>
        <button
          type="button"
          class="w-full text-white text-2xl bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-black rounded-2xl p-5 text-center mt-5 mb-2"
        >
          <Icon name="ic:round-chat-bubble" class="w-8 h-8 inline mb-0.5" />
          Contact Us
        </button>
      </a>
    </div>
  </div>
</div>
